*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
   }

.silka1{
color: blue;
}

.silka2{
color: red;
text-decoration: underline;
}

.silka1:hover{
color: green;
text-decoration: underline;
}

.silka2:hover{
 color: blue;
 text-decoration: line-through;
}

.silka3:hover{
 color: red;
 text-decoration:overline ;
}
body{
background-image: url(https://st3.depositphotos.com/3981755/16975/i/600/depositphotos_169756500-stock-photo-cat-lies-paw-is-up.jpg);
background-position: 100% 100%;
background-repeat: no-repeat;
background-attachment: fixed;
}



.spisok{ position:absolute;
    top: 10%;
    right: 20%;
}
p { 
    text-align: justify;
 text-indent: 2cm;
}

img {width: 40px;
    height: 25px;
    justify-content: center;}
    td, th {border: black solid 3px;
    border-style: groove}
     table { margin-bottom: 1cm;
        border-collapse: collapse;}